/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Roboto', sans-serif;
}

.ProfilePicture {
    border-color: #0dacc4;
    border-radius: 45%;
}

.CV-input {
    /*     display: none; */
}


/* Style the header */

header {
    background-color: #163d43;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


/* Style the footer */

footer {
    background-color: #163d43;
    padding: 10px;
    text-align: center;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-hackerrank {
    fill: white;
}

.socialMediaLogo {
    color: white;
    width: 32px;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}